
/* Variables */
:root{
    --first-color:#fff;
    --second-color:#000;
    --third-color:#950c17;
    --fourth-color:#8d8d8d;
    --fifth-color:#f2f2f2;
    --sixth-color:#616161;
    --container-max-width:1250px;
}

/* Global styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: var(--first-color);
    color: var(--second-color);
    font-size: 1em;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: var(--second-color);
}

ul,li{
    list-style-type: none;
}

input{
    outline: none;
}

.container{
    width: 95%;
    margin: auto;
    max-width: var(--container-max-width);
}

.d-inline-block{
    display: inline-block;
}

.banner{
    width: 100%;
    padding: 1.1em;
    text-align: center;
}

.alert-banner{
    background-color: var(--third-color);
    color: #fff;
    font-weight: 500;
}

.alert-banner a{
    cursor: pointer;
    color: #fff;
}

.alert-label-light{
    color: var(--third-color);
    font-weight: 500;
    background-color: white;
    padding: .2em .7em;
}

.alert-label{
    background-color: var(--third-color);
    color: white;
    font-weight: 500;
    padding: .2em .7em;
    display: inline-block;
}

.alert-banner a:hover{
    text-decoration: underline;
}

.btn{
    display: inline-block;
}

.btn-dark{
    background-color: var(--second-color);
    color: var(--first-color);
    font-weight: bold;
    padding: .6em 1em;
}

.btn-light{
    color: var(--third-color);
    font-weight: 500;
}

.sm-img{
    display: block;
}

.md-img{
    display: none;
}

.lg-img{
    display: none;
}

/* Header  */
.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8em;
    padding: 1.5em .5em;
    height: 54px;
}

.header-navbar a:hover{
    padding-bottom: 2px;
}

.header-navbar i{
    color: var(--fourth-color);
}

.header-navbar i[class*="chevron"]{
    font-size: .7em;
    color: var(--fourth-color);
}

.main-nav{
    display: none;
}

.main-nav li{
    padding: 0 .8em;
}

.hover-menu{
    display: none;
}

.logo{
    width: 100px;
}

.header-logo{
    display: none;
}

.right-nav{
    display: grid;
    grid-template-columns: repeat(13,1fr);
    grid-template-rows: 1fr;
    width: 100%;
}

.header-sm-logo{
    width: 120px;
    margin: auto;
    grid-column: 3/12;
}

.right-nav > *{
    padding: 0 .7em;
}

.search-bar span, .full-search-bar span, .cart span, .sign-in span{
    display:none;
}

.right-nav i{
    margin-left: .5em;
    font-size: 1.3em;
}

.full-search-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    z-index: 12;
}

.full-search-bar .logo{
    display: none;
}

.search-cancel-btn{
    margin-right: 1em;
}

.search-bar button, .search-btn, .search-cancel-btn{
    background-color: white;
    border: none;
    outline: none;
}

.search-from{
    width: 95%;
    border: 1px solid var(--fourth-color);
}

.search-btn{
    display: inline-block;
    margin-right: 1.2em;
}

.input-field{
    height: 35px;
    border: none;
}

/* Hover Menu */
.hover-menu{
    position: relative;
    z-index: 11;
}

.hover-menu-wrapper{
    background-color: var(--fifth-color);
    position: absolute;
    width: 80vw;
    top: 30px;
    right: -40px;
    line-height: 2.8em;
    padding: 1.5em;
    border: 1px solid #dfdfdf;
    flex-wrap: wrap;
    display: none;
}

.hover-menu-wrapper>div{
    padding-right: 5em;
}

.hover-menu-checkbox{
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.hover-menu input:checked ~ .hover-menu-wrapper{
    display: flex;
}

.hover-menu input:checked + .hover-btn i:before{
    content: "\f078";
}

/* Hero slider */
.hero{
    position: relative;
    border-color: red;
    max-width: 1920px;
}

.hero-img{
    width: 100%;
}

.swiper-wrapper{
    width: 100%;
    height: 100%;
}

.hero-info{
    background-color: var(--first-color);
    padding: 1.5em 3em 1em;
    border-bottom: 1px solid #f3f2f2;
    box-shadow: 0 2px 6px lightgrey;
}

.hero-info > *{
    margin-bottom: .5em;
}

.hero-info span{
    margin-left: .5em;
}

.hero-info .btn{
    margin-top: 1em;
}

.hero-controllers{
    text-align: center;
    width: 100%;
    height: 45px;
     position: relative;
    display: flex;
    justify-content: center;
}

.hero-controllers .swiper-pagination-bullets.swiper-pagination-horizontal{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.hero-controllers .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px);
}

.hero-controllers .swiper-pagination-bullet{
    background: white;
    border: 1px solid black;
}

.hero-controllers .swiper-pagination-bullet-active{
    background-color: black;
}

.hero-controllers .swiper-button-next{
    right: 30%;
}

.hero-controllers .swiper-button-prev{
    left: 30%;
}

.hero-controllers .swiper-button-next:after, .swiper-button-prev:after {
    color: black;
    font-size: 1.6em;
}

/* Links area */

.links-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.5em auto;
}

.link-box{
    text-align: center;
    padding: 1.3em;
}

.link-box img{
    width:35px;
}

.link-box a{
    display: block;
    font-weight: 500;
    text-decoration: underline;
}

/* Cards Area */
.cards-area{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1em;
    row-gap: 1.5em;
}

.card > *{
    display: block;
}

.card-img{
    width: 100%;
}

.card-content{
    padding: 1em 0;
    position: relative;
}

.card-content .alert-label{
    position: absolute;
}

.card-content > h2{
    margin-top: 1.3em;
}

.card-content > p{
    font-size: .9em;
    margin: .5em 0;
}

.card-links .btn:nth-child(odd){
    margin-right: .6em;
}

.card-links{
    margin: 1em 0;
    line-height: 2em;
}

.card-links .btn:hover{
    text-decoration: underline;
}

.card-links .btn i{
    transition: .5s;
}

.card-links .btn:hover i{
    transform: translateX(3px);
}

/* Footer */
.footer{
    background-color: var(--fifth-color);
    color:var(--sixth-color);
    padding: 0 1.5em;
    line-height: 1.8em;
    font-size: .9em;
}

.footer a{
    color:var(--sixth-color);
    font-size: .7em;
}

.footer-cat-nav{
    display: grid;
}

.footer-cat-nav >*{
    padding: 2em 0 0;
}

.footer-nav>*, .footer-nav li{
    display: inline-block;
}

.footer-nav ul li{
    margin-right: .6em;
}

.footer-nav{
    padding:2em 0 1em;
}

@media (min-width:576px){
    
    .cards-area{
        grid-template-columns: repeat(2,1fr);
    }

    .footer-cat-nav{
        grid-template-columns: repeat(3,1fr);
    }
    
}

@media (min-width:768px){
    
    .container{
        width: 97%;
    }

    .sm-img{
        display: none;
    }
    
    .md-img{
        display: block;
    }
    
}

@media screen and (min-width:992px){
    
    .header-logo{
        display: inline-block;
    }

    .main-nav{
        display: flex;
        margin-right: auto;
        margin-left: 20px;
    }

    .right-nav{
        width: fit-content;
    }

    .right-nav, .right-nav >*{
        display: inline-block;
    }

    .full-search-bar{
        display: none;
    }
    
    .hamburger{
        display: none;
    }

    .header-sm-logo{
        display: none;
    }

    .header-navbar{
        width: 95%;
        margin: auto;
    }
    
    .right-nav i{
        font-size: 1em;
    }

    .hero{
        height:820px;
    }

    .hero-info{
        width: 98%;
        padding: 2.5em 3em;
        position: absolute;
        bottom: 3.5em;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .hero-controllers .swiper-button-next{
        right: 40%;
    }
    
    .hero-controllers .swiper-button-prev{
        left: 40%;
    }

    .full-search-bar{
        justify-content: end;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
    }
    
    .search-logo{
        order: 1;
        margin-right: auto;
    }

    .search-cancel-btn{
        order: 3;
    }

    .search-from{
        order: 2;
    }

    .full-search-bar .logo{
        display: inline-block;
    }

    .search-from{
        flex-direction: row-reverse;
    }

    .search-from{
        width: 75%;
    }
    
    .search-cancel-btn i{
        display: none;
    }

    .search-cancel-btn span{
        display: inline-block;
    }

    .search-cancel-btn{
        height: 35px;
        border: 1px solid var(--fourth-color);
        padding: 0 1em;
        border-radius: 0;
        margin-left: .5em;
        background-color: transparent;
    }

    .cards-area{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-nav > :nth-child(odd){
        margin-right: 2em;
    }
}

@media (min-width:1200px){
    
    body, input, button{
        font-size: .9em;
    }

    .header-navbar{
        width: 85%;
    }

    .search-from{
        width: 80%;
    }
    
    .hover-menu-wrapper{
        width: 60vw;
    }

    .header-navbar a:hover{
        border-bottom: 2px solid #262626;
    }

    .hero-wrapper{
        height: 450px;
    }

    .hero {
        height: 400px;
    }

    .hero-info{
        border: none;
    }

    .hero-info-text-light{
        color: white;
    }

    .hero-img{
        width: 100%;
        height: auto;  
        position: absolute;
        right: 0;
        top: -35px;
    }

    .hero-info{
        width: 50%;
        background-color: transparent;
        position: absolute;
        box-shadow: none;
        padding-left: 10em;
        left: 0;
        margin: 0; 
        bottom: auto;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .hero-controllers{
        bottom: auto;
    }
    
    .hero-controllers .swiper-button-next{
        right: 45%;
    }

    .hero-controllers .swiper-button-prev{
        left: 45%;
    }

    .md-img{
        display: none;
    }

    .lg-img{
        display: block;
    }
    
    .search-bar span, .cart span, .sign-in span{
        display:inline-block;
    }

    .full-search-bar{
        width: 85%;
    }

    .cards-area {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-container{
        max-width:var(--container-max-width);
        margin: auto;
    }

    .footer-nav{
        display: flex;
        justify-content: space-between;
    }
    
    .footer-nav > :nth-child(odd){
        margin-right: 0;
    }

    .footer-cat-nav {
        grid-template-columns: repeat(6,1fr);
    }
}
